.org-head{
    text-align: center;
    /* color: rgb(65, 65, 240); */
    border-bottom:2px soid #303983;

}
.org{
    text-align: center;
    color: white;
    height: 60px;
    background-color:  #303983;
    padding-top: 15px;
}
.org-img
{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    height: 200px;
    margin-top: 3%;
}
@media screen and (max-width:1100px) {
    .org-img {
        height:200px;
    }
}
@media screen and (max-width:667px) {
    .org-img {
        height:70px;
    }
}
/* @media screen and (max-width:667px) {
    .org-img {
        height:70px;
    }
} */
@media screen and (max-width:720px) {
    .org-img {
        height:100px;
    }
}
@media screen and (max-width:1024px) {
    .org-img {
        height:90px;
    }
}
