.login-container {
  /* // border: 2px solid black; */
  width: 100vw;
  height: 80rem;
  margin-top: 8rem;
  height: 62.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 50%;
  height: 50rem;
  /* // border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1px;
  box-shadow: 0px 10px 4rem 0.1px rgba(165, 148, 148, 0.251);
}

.login-span {
  margin-bottom: 1rem;
  font-size: 3rem;
}

#login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  /* // border: 2px solid green; */
  flex-direction: column;
  width: 80%;
}

#login-form input {
  margin: 2rem;
  width: 80%;
  height: 5rem;
  display: block;
  padding-left: 2rem;
  outline: none;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 1.5rem;
}

#login-form input :hover {
   /* background-color: rgb(240, 244, 249); */
  border-bottom: 1px solid black;
  scale: 1.07;
}


#login-form button {
  margin: 2rem;
  width: 80%;
  height: 5rem;
  outline: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 2px;
  background-color: white;
  transition: all 0.5s ease-in-out;
}

#login-form:hover {
  border: 1px solid black;
  scale: 1.1;
}




/* @media  (max-width:780px) {
    .login-span{
        font-size: 2.7rem !important;
    }

    input{
        font-size: 1.3rem !important;
        font-weight: bold;
    }

    .login-form
    {   
        width: 70% !important;
    }

    button{
        font-size: 1.3rem !important;
    }
  }

  @media  (max-width:430px) {

    .login-container
    {
        height: 60rem !important;
    }

    .login-form
    {
        height: 40rem !important;
    }

  } */