.register-container {
   /* border: 2px solid black; */
  width: 100vw;
  height: 80rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-top: 8rem;
  margin-bottom: 8rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-email{
   /* border: 2px solid black; */
   width: 90%;
   font-size: 0.7rem;
}

.dropdown-email:hover{scale: 1.0 !important;}
.form {
  width: 37%;
  height:45rem;
  padding: 1rem 0 0 0;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 10px 10px 20px #303983;
}


#register-form {
  display: flex;
  justify-content: center;
  align-items: center;
   /* border: 2px solid green; */
  flex-direction: column;
  width: 80%;
  margin-bottom: 6rem;

}
.img-contain{
  height:60px;
  margin-top: 7rem;

}
#register-form input {
  display: block;
  font-weight: bold;
  margin: 1rem;
  width: 90%;
  height: 2rem;
  outline: none;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 1rem;
  border-bottom: 3px solid #303983;
  font-weight: bold;
  border-bottom: 3px solid #303983;;
  border-radius: 25px;
  padding: 1.2rem 1.5rem;
  /* border: 2px solid black; */
}


#register-form  :hover {
  scale: 1.07;
}

.button {
  margin: 1rem 0 0.5rem 0;
  width: 80%;
  height: 3rem;
  outline: none;
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 25px;
  background-color: #303983;;
  transition: all 0.5s ease-in-out;
  color: white;
}
.button:hover {

  scale: 1.1;

  /* // background-color: rgb(240, 244, 249); */
}
.p1{
  color: black;
  font-size: 1rem;
  text-align: center;

}
.para2{
  color: black;
  font-size: 1rem;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  /* border: 2px solid black; */
}
.para2 a{
  font-weight: bold;
}

@media (max-width: 1150px) {
  .form{
    width: 50%;
  }
}

@media (max-width: 780px) {
  .span {
    font-size: 2rem !important;
  }

  input {
    font-size: 1rem !important;
    font-weight: bold;
  }

  .form {
    width: 70% !important;
  }

  .button {
    font-size: 1rem !important;
  }
}


@media (max-width: 550px) {
  .span {
    font-size: 1.5rem !important;
  }

  .form
  {
    /* height: 40rem; */
    width: 85% !important;
  } 
  
  #register-form input{
    font-size: 0.8rem !important;
  }

}
