
.blue-bg
{
  background: #303983;
}

.red-bg
{
  background: #e53624;
}

.red
{
  color: #e53624;
}
.blue{
  color: #303983;
}

.hidden
{
  visibility: hidden;
  /* transition: all 5s ease-in-out; */
}

.display-none
{
  display: none;
}


.vedio-player 
{
  padding:0.5rem 0;
  max-width: 50rem;
}