.img-gallery{
    width: 70%;
    height: 250px;
    object-fit: cover;
    margin-left: 3.5rem;
    margin-bottom:1rem ;
   
    
    
}
.main-gallery{
    background-color: #E4E6EF;
    /* margin-left: .5rem;
    margin-right: 1rem;
    margin-bottom: .5rem; */
    /* display: flex;
    align-items: center;

    justify-content: space-around; */

}
.h3g{
    
    font-size: 2rem;
    color: #303983;
    text-align: center;
    margin-top: 1rem;
    
}
@media screen and (max-width:767px) {
    .img-gallery{
        margin-left:2.4rem;
        width: 70%;
        height: 200px;
    }
    .h3g{
        font-size: 1.4rem;
    }
    
}
