.dash-user-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 90vh;
}

.dash-user-left {
    width:40% !important;
    margin: 3rem 5rem 2rem 5rem;
     /* border: 2px solid black; */
    display: flex;
    /* justify-content: flex-end; */

}

.dash-user-right {
    margin: 3rem 5rem 2rem 5rem;
    width: 60%;
     /* border: 2px solid black; */
    display: flex;
    /* align-items: flex-start; */
    flex-direction: column;
    height: auto;
}

 .grid-user-container:first-child {
    border-top: 2px solid #f5f7fcdf;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
} 

.grid-user-container:last-child {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.grid-user-container {
    box-shadow: 10px 10px 20px #14418a;
    background-color: white;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.grid-user-items {
    font-size: 0.9rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 2px solid #f5f7fcdf;
    width: 90%;
}

.div-user-first {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.div-user-first a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.div-user-first a{
    font-size: 1rem;
}

.div-user-first span {
    font-size: 1.2rem;
    display: block !important;
    color: silver;
}
.grid-user-items-span
{
    font-size: 0.8rem !important;
}

.dash-user-right-no-post
{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center !important;
    padding: 1rem;
}

.dash-link {
    margin: 0.5rem;
    font-size: 1.3rem;
    color: black;
}

                                /* Media Quaries */

@media (max-width:1200px) {
    .dash-user-left{
        width: 70% !important;
        margin: 3rem 3rem 2rem 3rem;
    }

    .dash-user-right {
        margin: 3rem 3rem 2rem 3rem;
        width: 90% !important;
    }

}

@media (max-width:900px) {
    .dash-link{
        font-size: 1rem;
    }
    .grid-user-items-span
    {
        font-size: 0.7rem !important;
    }
}


@media (max-width:800px) {
   .grid-user-items{
    width: 100%;
   }
}


@media (max-width:700px) {
    .dash-user-right
    {
        width: 110% !important;
    }
 }

@media (max-width:650px) {
    .dash-user-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
         /* border: 2px solid red; */
    }

    .dash-user-left {
        width: 80%;
        flex: 1 !important;
         /* border: 2px solid red; */
    }

    .dash-user-right {
         /* border: 2px solid red; */
        flex: 1 !important;
        width: 80% !important;
        margin-top: 1rem !important;
    }

    .grid-user-container {
        width: 100%;
    }
}

@media (max-width:400px) {
    .grid-user-items-span{
        font-size: 0.6rem !important;
    }
    .div-user-first a{
        font-size: 0.9rem;
    }
    .dash-link   
    {
        margin: 0.3rem !important;
        font-size: 0.9rem;
    }
} 