.footer{
    margin-top: 6rem;

}
.top_footer{
    display: block;
    text-align: center;
    background: #303983;
    /* color:  #b8b8b8; */
    position:relative;
    box-sizing: border-box;
    height: 60px;
    padding-top: 0.66px;
    font-size:18px;
    display: flex;
    align-items: center;
    justify-content: space-around;  
}

.top_footer a{
    margin: 0 0.5rem;
}
.top_footer p{
    color: white;
}
.bottom_footer{
    background: #303983;
    margin-top: 0rem;
}
.bottom_footer h3{
    text-align: center;
    color: white;
    font-size:20px ;
    /* border-bottom: 2px solid white;
    padding-right: 3rem; */
}
 .icons {

    padding: 20px 30px;
    align-items: center; 

     
    
 }
 .icon-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
 }
a.social
{
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline;
    color: white;
    height: 8px;
    font-size: 20px;
       
 }

 a.social:hover {
    transform: translateY(-2px);
  }
.para{
    text-align: center;
    display: block;
    color: white;
    font-size: 18px;
    padding-bottom: 13px;
    border-top: 2px solid white;
    /* margin-top: 4px; */
    padding-top: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen  and (max-width:767px){
    a.social{
        font-size: 15px;
    }
    .top_footer p{
        font-size: 12px;
    
}
}

@media screen  and (max-width:840px){
    a.social{
        font-size: 15px;
    }
    .top_footer p{
        font-size: 25px;
    }
    
}
@media screen  and (max-width:960px){
    a.social{
        font-size: 15px;
    }
    .top_footer p{
        font-size: 15px;
    
}
}
@media screen  and (max-width:667px){
    a.social{
        font-size: 13px;
    }
    .top_footer p{
        font-size: 14px;
    
}
.bottom_footer h3{
    font-size: 14px;
}
.para p{
    font-size: 13px;
}
}