
.container{
    width: 100vw;
    padding-top: 1rem;
    margin-top: 0.5rem;
    padding-left:2rem;
    padding-bottom: 1rem;
    /* background-color: #303983; */
    /* border: 2px solid black; */
    border-top: 1px solid wheat;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row
{
    /* border: 2px solid black; */
    display: flex;
    width: 80%;
    align-items:center;
    justify-content:space-around;
}
.col-sm{
    display: flex;
    align-items:center;
    justify-content:space-around;
    /* border: 2px solid black; */
    margin-top: 1rem;
    text-align: center;
    color: white;

}
.title{
    /* border-bottom: 3px solid white; */

}
.btn{
    font-size: 12px;
    border-radius: 25px;
    width: 55%;
    color: white;
}

.card{
    background-color:#303983 ;
}
.card-img{
    background-color: white;
}
.img-circle{
    border-radius: 50%;
    background-color: aqua;
}
.text-card{
    text-align: justify;
}
.head-name{
    border-bottom: 3px solid white;
}