.pro-area{
    padding: 80px 0;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-row
{
    width: 100%;
    display: flex !important;
    align-items:center !important ;

}
.card-contact{
    box-shadow: 10px 10px 20px #14418a;
    /* width: 90%; */
    margin: 3rem;
    /* overflow: hidden; */
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid black; */

}

.img2 img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 12rem;
    height: auto;
    /* border-radius: 50%; */
    /* border: 6px solid #fff; */
    margin-top: -80px;
} 

.main-contact{
    padding: 30px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-follow
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    /* border: 2px solid black; */
}
.contact-follow a{
    /* border: 2px solid black; */
    display: inline-block;
    width: 20%;
}
.contact-follow-img{
    width: 100%;
}


.main-contact h2{
    color: #303983;
    font-weight: 500;
    font-size: 25px;
    margin: 0 0 20px;
}

.main-contact img{
    width: 50%;
}

.main-contact p{
    font-size: 16px;
    padding: 35px;
}
.social-icon{
    text-align: center;
    padding-bottom: 20px;
}
.social-icon i {
        font-size: 30px;
        color: darkcyan;
        padding: 0 10px;
}
.main hr{
    color: aquamarine;
    border-bottom: 4px solid aqua;
    
}


@media (max-width: 1080px) {
    .img2 img{
        
        width: 10rem;
        
    } 
  
  }
  
  @media (max-width: 950px) {
    .img2 img{
        
        width: 8rem;
        
    } 
  
  }

  @media (max-width:767px) {
    .img2 img{
        
        width: 12rem;
        
    } 
    .card-contact{
        margin-bottom: 6rem;
    }
  
  }
  
  @media (max-width:400px) {
    .img2 img{
        
        width: 10rem;
        
    } 
  }
  
  @media (max-width:350px) {
    .img2 img{
        
        width: 8rem;
        
    } 
  }
  